parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: internations
    database_user: internations
    database_password: internations
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: 299c0b4434a4936773b856f76aa53c59be648aca
